{% extends 'base.html' %}
{% load static %}

{% block title %}Vó Naná{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
<style>
.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

/* Estado final: visível e na posição correta */
.reveal.active {
    opacity: 1;
    transform: translateY(0);

}
</style>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                entry.target.classList.add("active");
            }
        });
    }, {
        threshold: 0.1 // Ativa quando 10% do item aparece na tela
    });

    // Seleciona todos os elementos com a classe .reveal
    const elements = document.querySelectorAll(".reveal");
    elements.forEach((el) => observer.observe(el));
});
</script>
{% endblock %}